<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147683031638-4egjbdbgd345t6lfm0qomv93q6vjisas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147683031638-4egjbdbgd345t6lfm0qomv93q6vjisas</string>
	<key>API_KEY</key>
	<string>AIzaSyAqZjZfIwrn6unH5N1dqDRfn-CrcmLFSNk</string>
	<key>GCM_SENDER_ID</key>
	<string>147683031638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NicholasGMiller.BuddyUp</string>
	<key>PROJECT_ID</key>
	<string>podz-1f6b1</string>
	<key>STORAGE_BUCKET</key>
	<string>podz-1f6b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147683031638:ios:e05beeb50076b1562799f7</string>
	<key>DATABASE_URL</key>
	<string>https://podz-1f6b1.firebaseio.com</string>
</dict>
</plist>